.mdui-appbar-with-searchbar {
  padding-top: 64px;
}

.search-bar {
  display: flex;
  height: 40px;
  background: #ffffff;
  align-items: center;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.search-bar>input {
  flex: 1 1;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 100%;
  outline: none;
  color: rgba(0, 0, 0, .87);
}

.search-bar>input::placeholder {
  color: rgba(0, 0, 0, .54);
}

.search-bar>.mdui-icon {
  margin: 0 16px;
}

.search-bar>.mdui-btn-icon {
  margin: auto 11px;
}

/*暗色模式支持*/
.mdui-theme-layout-dark .search-bar {
  background: #424242;
  border-color: #424242;
}

.mdui-theme-layout-dark .search-bar>input {
  color: white;
}

.mdui-theme-layout-dark .search-bar>input::placeholder {
  color: rgba(255, 255, 255, .70);
}



::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101F1C, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, .3);
  background-clip: padding-box;
  min-height: 28px;
  transition: background-color .3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, .5);
}

@media (max-width: 340px) {
  .mdui-hidden-or {
    display: none !important;
  }
}

.dlc-em {
  text-indent: 2em;
}

.dlc-shadow {
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .12) !important;
}